<section id="About" class="">
  <div class="mx-auto h-full px-4 py-28 md:py-40 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div class="">
        <div class="lg:max-w-xl lg:pr-5">
          <h2 class="mb-6 max-w-lg text-5xl font-bold leading-snug tracking-tight text-white sm:text-7xl sm:leading-snug">
           Sobre Nosotros
          </h2>
          <p class="text-base text-gray-400">Combinamos creatividad y tecnología para ofrecerte aplicaciones robustas, intuitivas y escalables. Nos especializamos en el desarrollo de software a medida, aplicaciones móviles, plataformas web y soluciones de inteligencia artificial que se adaptan a las necesidades específicas de tu empresa</p>
        </div>
</div>