<section id="About">
  <div class="mx-auto items-center h-full px-4 py-28 md:py-40 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
    <div class="flex flex-col items-center justify-center text-center">
      <div class="lg:max-w-2xl lg:pr-5"> 
        <h1 class="text-6xl font-bold text-white mb-8 ml-15">Sobre Nosotros</h1>
        <p class="text-base text-gray-400 mb-8">
          Combinamos creatividad y tecnología para ofrecerte aplicaciones robustas, 
          intuitivas y escalables. Nos especializamos en el desarrollo de software a medida, 
          aplicaciones móviles, plataformas web y soluciones de inteligencia artificial que se 
          adaptan a las necesidades específicas de tu empresa.
        </p>
        <div class="flex flex-col items-center">
          <div class="text-gray-400">
            <p class="text-lg font-semibold">Nuestro equipo</p>
            <p class="text-base">Un grupo diverso de expertos en tecnología y diseño, comprometidos con tu éxito.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 text-center">
      <div>
        <svg class="mx-auto h-12 w-12 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" 
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20l9-5-9-5-9 5 9 5z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12l9-5-9-5-9 5 9 5z" />
        </svg>
        <h3 class="mt-4 text-2xl font-bold text-white">Innovación</h3>
        <p class="mt-2 text-base text-gray-400">Adoptamos las últimas tecnologías para crear soluciones innovadoras.</p>
      </div>
      <div>
        <svg class="mx-auto h-12 w-12 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" 
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4H8l4-4 4 4h-3v4z" />

          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 20h14a2 2 0 002-2v-5a2 2 0 00-2-2H5a2 2 0 00-2 2v5a2 2 0 002 2z" />

        </svg>
        <h3 class="mt-4 text-2xl font-bold text-white">Calidad</h3>
        <p class="mt-2 text-base text-gray-400">Nos enfocamos en entregar productos 
          de alta calidad que cumplen con tus expectativas.</p>
      </div>
      <div>
        <svg class="mx-auto h-12 w-12 text-yellow-500" fill="none" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">


          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M7 8h10M7 12h8m-4 8v-4m0 0h4m-4 0H7m7 0a4 4 0 00-7.8 0h1.8M7 16a4 4 0 107.8 0h-1.8z" />

        </svg>

        <h3 class="mt-4 text-2xl font-bold text-white">Compromiso</h3>
        <p class="mt-2 text-base text-gray-400">Nos comprometemos a ayudarte a alcanzar tus objetivos empresariales.</p>
      </div>
    </div>
  
    <div class="text-center mt-12">
      <a href="#contact"  id="Contactanos" class="inline-block bg-blue-500 text-white font-medium py-2 px-4 rounded-lg shadow-lg
        hover:bg-blue-60 transition duration-300">Contáctanos para más información</a>
    </div>
  </div>
  
</section>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollButton = document.getElementById("Contactanos");
    const sectionToScrollTo = document.getElementById("Contact");

    if (scrollButton && sectionToScrollTo) {
      scrollButton.addEventListener("click", function () {
        sectionToScrollTo.scrollIntoView({ behavior: "smooth" });
      });
    }
  });
</script>
