<div class="mx-auto h-full px-4 py-28 md:py-40 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div class="">
        <div class="lg:max-w-xl lg:pr-5">
          <h2 class="mb-6 max-w-lg text-5xl font-bold leading-snug tracking-tight text-white sm:text-7xl sm:leading-snug">
            Diseños
          </h2>
          <p class="text-base text-gray-400">Desde la creación de logotipos y branding hasta el diseño de interfaces de usuario</p>
        </div>
      </div>
    </div>
  </div>
  </div>