<section id="Service" class="flex flex-col items-center justify-center min-h-screen bg-black py-20">
  <div class="mx-auto px-4 py-28 md:py-40 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Diseño de Logotipos</h3>
        <p class="text-gray-700">Creamos logotipos que reflejan la identidad de tu marca y resuenan con tu audiencia.</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Desarrollo Web</h3>
        <p class="text-gray-700">Desarrollamos una identidad visual completa para tu marca, incluyendo colores, tipografías y más.</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Diseño Web</h3>
        <p class="text-gray-700">Diseñamos interfaces intuitivas y atractivas que mejoran la experiencia del usuario.</p>
      </div>
    </div>
    <div class="text-center mt-12">
      <a href="#contact" class="inline-block bg-blue-500 text-white font-medium py-2 px-4 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300">Contáctanos para más información</a>
    </div>
  </div>
</section>
