<section class="flex flex-col lg:flex-row items-center px-4 py-5 justify-between">
  <div class="mx-auto h-full px-4 py-28 md:py-40 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
    <h2 class="mb-4 max-w-lg text-5xl font-bold leading-snug tracking-tight text-white sm:text-5xl sm:leading-snug">
      Desarrollo de Software
    </h2>
    <p class="text-base text-gray-400">Soluciones personalizadas para mejorar tus procesos y alcanzar tus objetivos.</p>
  </div>
  <div class="flex-1 lg:ml-4">
    <h2 class="mb-4 max-w-lg text-5xl font-bold leading-snug tracking-tight text-white sm:text-5xl sm:leading-snug">
      Plataformas Web
    </h2>
    <p class="text-base text-gray-400">Desde sitios corporativos hasta complejas plataformas de comercio electrónico, construimos experiencias web impactantes.</p>
  </div>
</section>
